.form {
    margin-top: 5vh;
    display: flex;
    margin-bottom: 40px;
    margin-left: 25vw;
    background: white;
    border-radius: 25px;
    width: 50vw;
    height: 70vh;
    margin-top: 9vh;
    box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
}

.row1 {
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 0vh;

}

.row2 {
    margin-right: 100px;
    margin-top: 14vh;
}

h1 {
    position: relative;
    line-height: 1.2em;
    color: #fb6f92;
}

h1:before {
    position: absolute;
    left: 2;
    top: 1.2em;
    height: 0;
    width: 50px;
    content: '';
    border-top: 2px solid #fb6f92;
}


.item {
    margin-bottom: 25px;
    color: #fb6f92;
}