@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Courgette&family=Nunito+Sans:wght@300&family=Nunito:wght@200&display=swap');
body {
  margin: 0;
font-family: 'Caveat', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Nunito', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:hover{
  color: #fb6f92;
}
